@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Satisfy&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
    font-family: 'Satisfy', cursive;
}
.menu-tittle{
    text-align: center;
}

.underline {
    width: 5rem;
    height: 0.25rem;
    background-color: red;
    margin-left: auto;
    margin-right: auto;
}

.btn-container{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    gap: 15px;
    margin: 0 auto;
}

.filter-btn{
    padding: 10px;
    border-radius: 5px;
    border: 2px solid;
}

.filter-btn:hover{
    background-color: aqua;
    color: black;
    transition: ease 0.5;
}

.section-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem 2rem;
    justify-items: center;
    margin-top: 2.5rem;
  }

  .menu-item {
    display: flex;
    gap: 1rem 2rem;
    max-width: 40rem;
  }

  .photo {
    height: 200px;
    width: 200px;
    border: 0.25rem solid ;
    border-radius: 5px;
  }

  .item-info header{
    display: flex;
    justify-content: space-between;
  }